.card-detail {
  display: flex; /* Usar flexbox para alinear los elementos */
  width: 300px; /* Ancho deseado */
  background-color: #ffffff; /* Color de fondo blanco */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  overflow: hidden; /* Para ocultar cualquier desbordamiento de contenido */
}

.card-detail-img {
  width: 500px; /* Ancho de la imagen */
  height: 200px; /* Altura de la imagen */
  object-fit: cover; /* Escalar la imagen para que se ajuste */
  z-index: -100;
}

.card-detail-content {
  flex: 1; /* El contenido se expandirá para llenar el espacio restante */
  padding: 20px; /* Relleno interno */
}

.card-detail-name {
  font-size: 18px; /* Tamaño de fuente para el nombre */
  margin-bottom: 10px; /* Margen inferior */
}

.card-detail-info {
  font-size: 14px; /* Tamaño de fuente para la información */
  margin-bottom: 10px; /* Margen inferior */
}

.card-detail-separator {
  width: 10px; /* Ancho del separador */
  background-color: purple; /* Color del separador */
}

.card-detail-name-only {
  padding: 10px 20px; /* Relleno para el nombre del médico */
  font-size: 18px; /* Tamaño de fuente para el nombre */
  text-align: center; /* Centrar el texto */
}

.card-detail-fav-button {
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambiar cursor al pasar por encima */
  font-size: 16px; /* Tamaño de fuente */
  color: #ff0000; /* Color del botón */
}
