.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30px 50px;
  background-color: var(--violetaOscuro-dentist);
  align-items: center;
  z-index: 1000;
}

.lienea-superior {
  height: 5px;
  background-color: var(--blanco-dentist);
}

.contenedor-footer {
  display: grid;
  grid-template-columns: 1fr 15%;
  grid-template-rows: 85px;
}

.developer {
  color: var(--blanco-dentist);
  margin-left: 20px;
}

.developer .icono {
  margin-left: 3px;
  margin-right: 3px;
}

.digitalHouse {
  display: flex;
  justify-content: center;
  margin-right: 40px;
  background-color: var(--blanco-dentist);
  border-radius: 50px;
  align-items: center;
  margin-bottom: 5px;
}

.digitalHouse p {
  display: flex;
  color: var(--violetaOscuro-dentist);
  font-weight: 500;
  font-size: 18px;
}

.digitalHouse img {
  width: 135px;
  height: 45px;
}
