.form-container {
  max-width: 300px;
  height: 250px;
  margin: 60px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f5f0fb;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 18px;
  font-weight: 600;
  display: block;
  text-align: left;
  margin-left: 20px;
  color: var(--violetaOscuro-dentist);
}

.form-group input {
  width: 80%;

  padding: 10px;
  border: 1px solid var(--violetaOscuro-dentist);
  border-radius: 5px;
}

.form-group input:focus {
  outline: none;
  border-color: 1px var(--violetaOscuro-dentist);
}

.form-container button {
  background-color: var(--violetaOscuro-dentist);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  height: 40px;
}

.form-container button:hover {
  background-color: var(--violetaOscuro-dentist);
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  width: 120px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px;
  background-color: rgba(65, 17, 110, 0.5);
  z-index: 999;
}

.modal-content {
  background-color: #ffffff;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
