@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --negro-dentist: #000000;
  --plomo-dentist: #d9d9d9;
  --blanco-dentist: #ffffff;
  --violetaClaro-dentist: #a47ec9;
  --violetaOscuro-dentist: #591ba8;
}

* {
  font-family: "Roboto";
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: var(--violetaOscuro-dentist);
  height: 80px;
  border-bottom: 8px solid var(--blanco-dentist);
}

.content-logo {
  width: 230px;
  height: 110px;
  background-image: url("/images/logo.svg");
  background-size: cover;
  background-position: center;
  border: 1px solid var(--violetaOscuro-dentist);
}

.content-link {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 20%;
}

.content-link a {
  color: var(--blanco-dentist);
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.content-link a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: var(--blanco-dentist);
  transition: width 0.3s ease;
  border-radius: 5px;
}

.content-link a:hover::after {
  width: 100%;
}
