nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: var(--violetaClaro-dentinst);
  height: 80px;
  border-bottom: 8px solid var(--violetaOscuro-dentinst);
}

.content-logo {
  width: 81px;
  height: 102px;
  background-image: url("/images/Logo_Muela.webp");
  background-size: cover;
  background-position: center;
}

.content-link {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 20%;
}

.content-link a {
  color: var(--blanco-dentinst);
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.content-link a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: var(--violetaOscuro-dentinst);
  transition: width 0.3s ease;
  border-radius: 5px;
}

.content-link a:hover::after {
  width: 100%;
}
