@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --negro-dentist: #000000;
  --plomo-dentist: #d9d9d9;
  --blanco-dentist: #ffffff;
  --violetaClaro-dentist: #a47ec9;
  --violetaOscuro-dentist: #591ba8;
}

* {
  font-family: "Roboto";
}

.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1 {
  text-align: center;
  color: var(--violetaOscuro-dentist);
}

.content-fav h3 {
  height: 600px;
  text-align: center;
  color: var(--violetaOscuro-dentist);
}

.dark {
  background-color: #12121296;
  color: white;
}
.dark > .content-contact {
  color: white;
}

.dark > .content-fav h1 {
  color: white;
}

.dark > .content-fav h3 {
  color: white;
}
.dark > .content-fav {
  height: 100%;
}

.toggle-button-input {
  display: none;
}
.content-contact {
  width: 100%;
  height: 800px;
  text-align: center;
  color: var(--violetaOscuro-dentist);
  margin: 5px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
