@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --negro-dentinst: #000000;
  --plomo-dentinst: #d9d9d9;
  --blanco-dentinst: #ffffff;
  --violetaClaro-dentinst: #a47ec9;
  --violetaOscuro-dentinst: #591ba8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1 {
  text-align: center;
}

.dark {
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

/*navbar*/
@media (max-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background: var(--violetaClaro-dentinst);
    height: 80px;
    border-bottom: 8px solid var(--violetaOscuro-dentinst);
  }
  .card-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  }
}

.toggle-button-input {
  display: none;
}

@media (max-width: 560px) {
  nav {
    max-width: 550px;
  }
  .card-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
}

.content-contact {
  text-align: center;
  height: 1000px;
  color: #440f80;
  margin-top: 50px;
}
